.vis-3d {
  background: rgba(0,0,0,0);
  text-align:center;
  position: fixed;
  z-index: 0;
  -webkit-transition: left .5s, top .5s, width .5s, height .5s;
  transition: left .5s, top .5s, width .5s, height .5s;
}
.vis-3d canvas {
  position: absolute;
  top: 0px;
  left: 0px;
}

#vis-3d-settings {
  position: absolute;
  resize: both;
  top: 0px;
  right: 20px;
}



.semi-square {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.blue    { background-color: #3b8ec2; }

.styled-select {
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
  height: 29px;
  overflow: hidden;
  width: 240px;
}

.styled-select select {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 29px;
  padding: 5px; /* If you add too much padding here, the options won't show in IE */
  width: 268px;
}

.noneurons .c input[type=text] {
  background: #00000000;
  outline: none;
  color: #eee !important;
  font-size: 11px;
}

.noneurons .cr.number input[type=text] {
  color: #eee !important;
  font-size: 11px;
}

.dg li.save-row {
  line-height: 25px;
  background: #000000;
  border: 0;
}

.noneurons {
  background-color: #ffffff00 !important;
  border-bottom: 0px solid #2c2c2c !important;
  border-left: 0px solid #2FA1D6 !important;
}


.dg.main .close-button:hover {
  /*background-color: #ffffff00;*/
  color: #cccccc;
}


.neu3dbutton:hover{
  background: #ffffff00 !important;
  color: #ffffff;
}

.neu3dbutton {
  background: #ffffff00 !important;
  color: #cccccc;
  font-size: 15px;
}

.noneurons .property-name {
  cursor: default;
  float: left;
  clear: left;
  width: 60%;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
}

.noneurons .c {
  float: left;
  width: calc(40% - 8px);
  color: #eee !important;
  position: relative;
  text-align: center;
  margin-left: 8px;
}

/*



.dg li.save-row select {
  margin-left: 5px;
  width: 108px;
}

.dg:not(.folder) .cr.number {
  border-left: 0px solid #2FA1D6;
  background: #ffffff00;
}

.dg li.save-row {
  line-height: 25px;
  background: #000000;
  border: 0;
}

.dg li:not(.folder) {
    border-bottom: 0px solid #2c2c2c;
}

.dg.main .close-button:hover {
  background-color: #ffffff00;
  color: #cccccc;
}

.dg:not(.folder) .cr.function:hover, .dg .cr.boolean:hover {
  background: #ffffff00;
  color: #ffffff;
}

.dg:not(.folder) .cr.function {
  background: #ffffff00;
  color: #cccccc;
  font-size: 15px;
}

.dg:not(.folder) .property-name {
  cursor: default;
  float: left;
  clear: left;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dg:not(.folder) .c {
  float: left;
  width: 10%;
  position: relative;
}*/